ul {
    list-style-type: none;
    margin-left: 21%;
    padding: 5px;
    overflow: hidden;
    background-color:#4CAF50;
    width:58%;
    font-size: 18px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #111;
}